@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap-reboot.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap-utilities.min.css");

@mixin light-theme {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --foreground-gray: 23, 23, 23;
  --background-gray: 232, 232, 232;
  --background-highlight: 85, 139, 184;
  --foreground-highlight: 255, 255, 255;
  --foreground-title-highlight: 85, 139, 184;
  --link: 20, 20, 20;
  --link-highlighted: 30, 30, 165;
}
@mixin dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --background-gray: 65, 65, 65;
  --foreground-gray: 232, 232, 232;
  --background-highlight: 85, 139, 184;
  --foreground-highlight: 255, 255, 255;
  --foreground-title-highlight: 0, 139, 238;
  --link: 205, 205, 205;
  --link-highlighted: 105, 105, 165;
}

:root, [data-theme="light"] {
  @include light-theme;
}

[data-theme="dark"] {
  @include dark-theme;
}

@media screen and (prefers-color-scheme: dark) {
  :root, [data-theme="dark"] {
    @include dark-theme;
  }
  [data-theme="light"] {
    @include light-theme;
  }
}


@media print {
  :root, [data-theme="light"], [data-theme="dark"] {
    @include light-theme;
  }
}

html,
body {
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  padding: 0.5em;
  font-size: 14px;
}


.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}

hgroup {
  max-width: 100%;
  margin-bottom: 1rem;
}

hgroup p {
  font-size: 0.82rem;
}

hgroup > * {
  max-width: 100%;
}

h3 {
  border-bottom: 2px solid #99b9d4;
  font-weight: 800;
  margin-bottom: 0.3333em;

  @media screen and (max-width: 1200px) {
      text-align: center;
  }
}

h4 {
  font-weight: 700;
}

section {
  margin: 1rem 0;
  font-size: 1rem;
  & > h3 {
    font-size: 1.2rem;
  }
}

article {
  margin: 1rem 0;
  padding: 0 0.3333em;
  font-size: 1rem;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.5);
  &:last-child {
    border-bottom: none;
  }
}

article > dl > dt.job-dates {
  font-style: italic;
}

article > dl > dd {
  margin: 1rem 0;
  word-break: break-word;
}

article > dl > dd > * {
  margin-bottom: .6em;
}

.tooltip {
  background-color: rgba(var(--background-rgb), .7);
  color: rgb(var(--foreground-rgb));
  border-radius: 3px;
  padding: 0.3333em .66667em;
  font-size: 1rem;
  box-shadow: 0 0 3px rgb(var(--foreground-rgb)) inset;
}

a {
  color: rgb(var(--link));
  text-decoration: none;

  &:visited {
    color: rgb(var(--link));
  }
  &:active, &:hover, &:focus {
    color: rgb(var(--link-highlighted));
  }
}

.cursor-pointer {
  cursor: pointer;
}

hgroup {
  display: flex;
  padding: 20px 0 0 20px;
  gap: 40px;

  @media print {
    gap: 20px;
    padding: 10px 0 0 10px;
  }

  @media screen and (max-width: 899px) {
    gap: 0px;
    padding: 0;
  }

  & > *:has(img) {
    display: flex;
    width: 153px;
    align-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 899px) {
      display: none;
    }

    @media print {
      align-content: flex-start;
      min-width: 75px;
    }

    & > * {
      max-width: 100%;
      border: 4px solid #0070c0;
      box-shadow: 0 0 0.66em rgb(var(--foreground-rgb));
    }
  }
}

.work-experience {
  dd {
    max-height: calc(1.42em * 3.5);
    overflow: hidden;
    cursor: pointer;

    &.show-all {
      max-height: initial;
      cursor: default;
    }
  }

  a {
    display: block;
    text-align: right;
    font-size: 0.85em;

    &.show-all {
      display: none;
    }
  }
}

@media print {

  body {
    font-size: 13px !important;
    color: inherit;
    background-color: inherit;
  }

  .work-experiences {
    break-before: page;
  }

  .work-experience {
    break-inside: avoid;

    & dd {
      max-height: initial;
    }
  }
}

