@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap-reboot.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap-utilities.min.css");

:root {
  --doc-page-ar: 0.772727;
  --doc-page-w: 8.5in;
  --doc-page-h: 11in;
  --doc-page-margin: 0.4in 0.3in 0.4in 0.6in;
  --doc-hdr-h: 0px;
  --doc-ftr-h: 0px;
  --doc-hdr-pad: 0px;
  --doc-ftr-pad: 0px;
}

@mixin light-theme {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --foreground-gray: 23, 23, 23;
  --background-gray: 245, 245, 245;
  --background-highlight: 85, 139, 184;
  --foreground-highlight: 255, 255, 255;
  --foreground-title-highlight: 0, 0, 0;
  --link: 20, 20, 20;
  --link-highlighted: 30, 30, 165;
  --box-shadow: 53, 53, 53, 0.4;
  --main-color: 98 150 194;
}

@mixin dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --background-gray: 65, 65, 65;
  --foreground-gray: 232, 232, 232;
  --background-highlight: 85, 139, 184;
  --foreground-highlight: 255, 255, 255;
  --foreground-title-highlight: 255, 255, 255;
  --link: 205, 205, 205;
  --link-highlighted: 105, 105, 165;
  --box-shadow: 200, 200, 200, 0.6;
  --main-color: 98 150 194;
}

:root,
[data-theme="light"] {
  @include light-theme;
}

[data-theme="dark"] {
  @include dark-theme;
}

@media screen and (prefers-color-scheme: dark) {

  :root,
  [data-theme="dark"] {
    @include dark-theme;
  }

  [data-theme="light"] {
    @include light-theme;
  }
}

html {
  font-size: 14px;

  @media print {
    font-size: 13px;
  }
}

html,
body {
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-gray));
  padding: 0.5em;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.25em;

  &:last-of-type {
    margin-bottom: 1em;
  }
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

hgroup {
  max-width: 100%;
  margin-bottom: 1rem;
}

hgroup p {
  font-size: 0.82rem;
}

hgroup > * {
  max-width: 100%;
}

h3 {
  color: rgb(var(--main-color));
  border-bottom: 2px solid rgb(var(--main-color));
  font-weight: 800;
  margin-bottom: 0.3333em;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

h1 {
  font-weight: 1.5rem;
}

h4 {
  font-weight: 700;
}

section {
  margin: 1rem 0;
  font-size: 1rem;

  & > h3 {
    font-size: 1.2rem;
  }

  &.summary {
    & p {
      margin-bottom: 1em !important;
    }
  }
}

article {
  margin: 0;
  padding: 1rem 0.3333em 0;
  font-size: 1rem;
  border-top: 1px solid rgb(var(--main-color));

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  & h4 {
    font-size: 1.2rem;
    padding-top: .75em;
    color: rgb(var(--foreground-title-highlight));

    & > .job-dates {
      font-size: 1rem;
      font-style: italic;
      font-weight: 400;
      min-width: 100%;
      font-size: 1rem;
      color: rgb(var(--foreground-rgb));
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      display: flex;
      gap: 3rem;

      & > .job-dates {
        display: inline;
        min-width: 250px;
        line-height: 1.2rem;
        text-align: right;
      }
    }
  }

  & > dl {
    margin: 0;
    padding: 0;
    position: relative;

    & > dt.job-dates {
      font-style: italic;
    }

    & > dd {
      margin: 0;
      padding: 1em 0;
      word-break: break-word;
    }

    & > dd > * {
      margin-bottom: .6em;
    }
  }

}

.tooltip {
  background-color: rgba(var(--background-rgb), .7);
  color: rgb(var(--foreground-rgb));
  border-radius: 3px;
  padding: 0.3333em .66667em;
  font-size: 1rem;
  box-shadow: 0 0 3px rgb(var(--foreground-rgb)) inset;
}

a {
  color: rgb(var(--link));
  text-decoration: none;

  &:visited {
    color: rgb(var(--link));
  }

  &:active,
  &:hover,
  &:focus {
    color: rgb(var(--link-highlighted));
  }
}

.cursor-pointer {
  cursor: pointer;
}

hgroup {
  display: flex;
  padding: 20px 0 0 20px;
  gap: 40px;

  @media screen and (max-width: 899px) {
    gap: 0px;
    padding: 0;
  }

  & > *:has(img) {
    display: flex;
    width: 153px;
    align-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 899px) {
      display: none;
    }

    & > * {
      max-width: 100%;
      box-shadow: 0 0 0.66em rgb(var(--foreground-rgb));
    }
  }
}

.work-experience {
  dd {
    // max-height: calc(1.42em * 3.5);
    // overflow: hidden;
    cursor: pointer;
    padding-bottom: 2.42em;

    // &.show-all {
    //   max-height: initial;
    //   cursor: default;
    // }
  }

  a {
    display: block;
    text-align: left;
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, rgba(var(--background-rgb), 0.65) 0%, rgba(var(--background-rgb), 1) 100%);
    width: 100%;
    text-decoration: none;
    text-shadow: 0 0 0.1em rgba(var(--foreground-rgb), 0.4);

    &.show-all {
      display: none;
    }

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 100vh;
  align-content: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  padding: 20px;

  @media screen and (max-width: 899px) {
    border: none;
    border-radius: 0;
    padding: 10px;
  }

  & > *:last-child {
    min-width: 0;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
    color: rgb(var(--foreground-gray));

    @media screen and (min-width: 900px) {
      min-width: 486px;
      width: 100%;
    }


    & > * {
      color: rgb(var(--foreground-rgb));
      background-color: rgb(var(--background-rgb));
      width: 100%;
      max-width: 100%;
    }

    & h1 {
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.1em;

      @media screen and (max-width: 1200px) {
        text-align: center;
      }
    }
  }
}

@media print {

  :root,
  [data-theme="light"],
  [data-theme="dark"] {
    @include light-theme;
    font-size: 14px;
  }

  html {
    font-size: 14px;
  }

  body {
    font-size: 1rem;
    color: inherit;
    background-color: inherit;
    padding: 0;
    margin: 0;
  }

  section {
    font-size: 1.1rem;

    &.summary,
    &.education,
    &.technologies {
      break-inside: avoid;
    }

    &.languages {
      align-self: stretch;
      width: 100%;
      flex-shrink: 0;
      flex-grow: 1;

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 4em;

        li {
          display: inline;
        }
      }
    }

  }

  hgroup {
    gap: 20px;
    padding: 10px 0 0 10px;

    & > *:has(img) {
      align-content: flex-start;
      min-width: 75px;
    }
  }

  .ThemeSwitcher {
    display: none;
  }

  .layout {
    padding: 15px;
    margin-bottom: 0;
  }

  .work-experiences {
    display: table;
    width: 100%;
    /* Ensures the table layout uses available width */
    font-size: 1.1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-collapse: collapse;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    page-break-after: always;
    page-orientation: portrait;
  }

  .work-experience {
    display: table-row-group;
    font-size: 1rem;
    break-inside: avoid;
    border-bottom: 1px solid rgb(var(--foreground-rgb));

    & dd {
      max-height: initial;
    }
  }

  .work-experiences-print-header {
    display: table-header-group !important;

    h3 {
      // Ensure your h3 styles are suitable for a repeating header.
      // You might want to re-apply or adjust styles like borders.
      // Example: Replicating existing h3 style for consistency:
      color: rgb(var(--main-color));
      border-bottom: 2px solid rgb(var(--main-color));
      font-weight: 800;
      margin-bottom: 0.3333em; // Or adjust as needed
      font-size: 1.2rem; // From existing h3 style
      // text-align: center; // If needed, from existing responsive styles
    }
  }

  .work-experiences-print-content {
    display: table-row-group;
    /* Designates the main content block */
  }

}