$padding-top-layout: 2rem;

.layout {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    align-content: stretch;
    justify-content: stretch;
    overflow: auto;
    flex-wrap: nowrap;
    background-color: rgb(var(--background-rgb));

    @media screen and (min-width: 900px) {
        min-width: 760px;
    }

    & > *:first-child {
        display: none;
        position: absolute;
        width: 100%;
        max-width: 100%;
        padding: 0;
        padding-top: 2rem;
        max-height: 100vh;
        min-width: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        background-color: rgb(var(--background-gray));

        @media screen and (min-width: 900px) {
            display: block;
            position: initial;
            width: 100%;
            min-width: 274px;
            max-width: 20%;
            padding: 0.75em;
            height: auto;
            max-height: 100%;
        }

        & > img {
            position: relative;
            top: 15px;
            margin-bottom: 30px;
            width: 153px;
            left: calc(50% - 153px / 2);
            border: 4px solid #0070c0;
            box-shadow: 0 0 0.66em rgb(var(--foreground-rgb));
            z-index: 3;
        }

        & dl > dt {
            color: rgb(var(--foreground-title-highlight));
            font-weight: 800;
            margin-bottom: 0.6667em;
        }
        & dl > dd {
            font-size: 1em;
            margin: 0;
            margin-bottom: 0.6667em;
            padding-left: 0.3333em;
            & > p {
                margin-bottom: 0.3em;
            }
            & > ul {
                margin-top: 0;
            }
        }
    }

    & > *:last-child {
        min-width: 0;
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: stretch;
        color: rgb(var(--foreground-gray));
        background-color: rgb(var(--background-gray));
        padding-top: $padding-top-layout;

        @media screen and (min-width: 900px) {
            min-width: 486px;
            width: calc(100% - 274px);
        }


        & > * {
            color: rgb(var(--foreground-rgb));
            background-color: rgb(var(--background-rgb));
            width: 100%;
            max-width: 100%;

            @media screen and (min-width: 900px) {
                padding: 0px 45px;
                border-radius: 80px 0 0 0;
                & > * {
                    max-width: 1200px;
                }
            }            
        }

        & h1 {
            font-size: 48pt;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.1em;
        }
    }
}

.ThemeSwitcher {
    position: absolute;
    font-size: 1rem;
    right: 2rem;
    top: 0;
    height: $padding-top-layout;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.art1 {
    display: none;
    height: 95px;
    width: 125px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(var(--background-rgb));
    overflow: hidden;

    @media screen and (min-width: 900px) {
        display: block;
    }

    & > *:first-child {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 75px;
        border-radius: 75px 0 0 0;
        background-color: rgb(var(--background-gray));
    }
    & > *:last-child {
        position: absolute;
        bottom: 0;
        right: 58px;
        height: 56px;
        width: 75px;
        background-color: rgb(var(--background-gray));
        & > *:first-child {
            height: 90px;
            width: 500px;
            position: absolute;
            bottom: 0;
            right: 2px;
            border-radius: 0 0 500px 0;
            background-color: rgb(var(--background-rgb));
        }
    }
}

.technologies {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    color: rgb(var(--foreground-rgb));
}

.technology {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.83rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    color: rgb(var(--foreground-rgb));
    width: 70px;
    max-width: 70px;
    max-height: 70px;
    align-items: stretch;

    & svg {
        color: rgb(var(--foreground-rgb));
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    & > *:last-child {
        display: none;
    }
}

.showOnMobile {
    display: block;
    
    @media screen and (min-width: 900px) {
        display: none;
    }
}
