$padding-top-layout: 2rem;

.layout {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    min-height: 100vh;
    align-content: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    padding: 20px;
    border-radius: 80px 80px 0 0;
    border: 45px solid rgb(var(--background-gray));
    border-bottom: none;

    @media print {
        display: block;
        border: 20px solid rgb(var(--background-gray));
        border-bottom: none;
        border-radius: 40px 40px 0 0;
        padding: 15px;
    }


    @media screen and (max-width: 899px) {
        border: none;
        border-radius: 0;
        padding: 10px;
    }

    & > *:last-child {
        min-width: 0;
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: stretch;
        color: rgb(var(--foreground-gray));

        @media print {
            display: block;
        }

        @media screen and (min-width: 900px) {
            min-width: 486px;
            width: 100%;
        }


        & > * {
            color: rgb(var(--foreground-rgb));
            background-color: rgb(var(--background-rgb));
            width: 100%;
            max-width: 100%;
        }

        & h1 {
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.1em;

            @media screen and (max-width: 1200px) {
                text-align: center;
            }
        }
    }
}

.ThemeSwitcher {
    position: absolute;
    font-size: 1rem;
    right: 2rem;
    top: -2.4rem;
    height: $padding-top-layout;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    z-index: 3;
    width: calc(100% - 75px);

    @media print {
        display: none;
    }

    @media screen and (max-width: 767px) {
        position: static;
        background-color: rgb(var(--background-gray));
        padding: 0 1em;
        justify-content: space-between;
    }
}

.technologies {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    color: rgb(var(--foreground-rgb));

    @media screen and (max-width: 899px) {
        max-height: 160px;
        overflow: auto;
        margin-bottom: 10px;
    }


}

.technology {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.83rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    color: rgb(var(--foreground-rgb));
    width: 70px;
    max-width: 70px;
    max-height: 70px;
    align-items: stretch;

    & svg {
        color: rgb(var(--foreground-rgb));
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    & > *:last-child {
        display: none;
    }
}

.otherInfo {
    display: flex;
    flex-direction: row;
    gap: 5px 30px;

    @media screen and (max-width: 899px) {
        flex-direction: column;

        & > *:nth-child(n + 2) {
            display: none;
        }
    }

    & > * {
        margin: 0;

        & > * {
            padding-left: 5px;
            padding-right: 20px;
        }
    }

}