.themeSwitch {
    cursor: pointer;
    z-index: 2;
    font-size: 1em;
    line-height: 1em;
    display: inline-flex;
    align-items: center;
    gap: .5em;

    @media print {
        display: none;
    }
}